# production or simulation
COLLECTOR_MODE=simulation

# read-only collector api-key
COLLECTOR_API_KEY=replace-with-a-long-random-value

COLLECTOR_SOURCE=rpi-smarthome

# URLs reachable from inside the collector container
COLLECTOR_INGESTION_METRICS_URL=http://ingest:9090/metrics
COLLECTOR_INGESTION_CACHE_URL=http://ingest:8085

# docker compose service names the collector may inspect
COLLECTOR_ALLOWED_SERVICES=nanomq,ingestion-service,influxdb,telegraf,grafana,device-management,control-ui,homekit-COLLECTOR_API_KEY

COLLECTOR_HPPT_TIMEOUT_SECOND=5
COLLECTOR_MAX_LOG_LINES=1000

# simulation settings
COLLECTOR_SIMULATION_SEED=42
COLLECTOR_SIMULATION_PROFILE=/app/config/simulation-profile.json
COLLECTOR_SIMULATION_DEVICE_ID=esp32-simulated-01

# name of the existing docker network
SMARTHOME_NETWORK_NAME=smarthome-stack_default

# determine gid on the server with 'stat -c '%g' /var/run/docker.sock'
DOCKER_GID=998
